# IDE 관련 파일
.idea/
*.iml
*.ipr
*.iws
*.class

# Eclipse 설정 파일
.classpath
.project
.settings/

# 빌드 관련 디렉토리
target/
build/
.gradle/
out/

# 의존성 라이브러리 디렉토리
# Maven의 경우
~/.m2/

# Gradle의 경우
~/.gradle/

# 로그 파일
*.log

# 환경 또는 보안 설정 파일
application.properties
application.yml

# IntelliJ IDEA 설정 파일
.idea/
*.iml
*.ipr
*.iws
*.class

# Eclipse 설정 파일
.classpath
.project
.settings/

# Mac OS 파일
.DS_Store
