@tailwind base;
@tailwind components;
@tailwind utilities;


/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 52px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  background: white;
}

/* logo */
.navbar__logo {
  color: darkblue;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  padding: 0px 18px;
}

/* list */
.navbar__list {
  padding: 0px 18px;
  display: flex;
  gap: 12px;
  align-items: center;
}

/** 모바일의 경우를 고려하여 버튼의 기존 스타일은 보이지 않게 수정 */
.navbar__button {
  display: none;
  cursor: pointer;
}

/* list 요소 */
.navbar__list--item {
  cursor: pointer;
}
.navbar__list--item:hover {
  color: darkgray;
}

/* navbar 위치 고려 */
.layout {
  padding-top: 52px;
}

/* 모바일 스타일 */
@media only screen and (max-width: 600px) {

  /* 모바일 navbar */
  .navbar--mobile {
    position: fixed;
    width: 100%;
    top: 52px;
    background: darkblue;
    color: white;
    height: 100vh;
  }

  /* 기존의 리스트 숨기기*/
  .navbar__list {
    display: none;
  }

  /* 모바일 리스트 버튼 */
  .navbar__button {
    display: block;
    cursor: pointer;
    padding: 0px 18px;
  }

  /* 모바일 list 요소 스타일*/
  .navbar__list--item--mobile {
    cursor: pointer;
  }
  .navbar__list--item--mobile:hover {
    color: darkgray;
  }

  /* 모바일 리스트 */
  .navbar__list--mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    padding: 24px 18px;
  }

}