body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* header */
header{
  display: flex;
  justify-content: space-between;
  /* flex-direction: row-reverse;   오른쪽 정렬*/
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 40px;
  min-height: 40px;
  align-items: center;
}

header .header__logo{
  color:black;
  font-weight: 600;
  font-size: 18px;
}
header a{
  margin:0 10px;
  text-decoration: none;  /* a태그의 기본 스타일(밑줄) */
  color:gray;
}
header a:focus,
header a:hover{
  color:black
}

/* footer */
footer{
  background-color: #f2f2f2;
  min-height: 40px;
  padding: 20px 40px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;  /* 수직 -> 가운데 정렬*/
  justify-content: center;  /* 수평 -> 가운데 정렬*/
  gap: 20px;  /* 요소 간 간격*/
}

footer a{
  margin:0 10px;
  text-decoration: none;  /* a태그의 기본 스타일(밑줄) */
  color:gray;
}
footer a:focus,
footer a:hover{
  color:black
}

/* post navigation*/
.post__navigation{
  display: flex;
  gap:12px;
  margin: 0 auto;
  max-width: 680px;
  font-size: 16px;
  color:gray;
  cursor: pointer;  /* 마우스 커서가 올라가면 모양 변함 */
  padding: 48px 20px 0px 20px;
}

.post__navigation--active{
  color:black;
  font-weight: 600;
}

/* post list, post__detail */
.post__list ,
.post__detail {
  min-height: 90vh; /* 뷰포트 기준으로 90% */
  padding:20px;
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
  text-align: left;
  line-height: 24px;
}

/* 게시글 박스*/
.post__box{
  padding: 24px 0;
  border-top:1px solid #f2f2f2;
}

/* 프로필 박스*/
.post__profile-box{
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
}

/* 프로필 모양*/
.post__profile{
  width:36px;
  height: 36px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

/* 날짜 및 이름 */
.post__date,
.post__author-name {
  color:gray;
}

/* 제목 */
.post__title{
  font-size: 20px;
  font-weight: 600;
  margin: 14px 0px;
}

/* 내용 */
.post__text{
  color:dimgray;
  font-size: 16px;
}

/* 게시글의 a태그 데코레이션 제거*/
.post__list a{
  text-decoration: none; 
  color:black;
}

/* 수정 삭제 박스 */
.post__utils-box {
  display: flex;
  gap: 8px;
  flex-direction: row-reverse;
  font-size: 14px;
  color: gray;
}

/* 수정 삭제 버튼 */
.post__delete:hover,
.post__delete:focus{
  color:black;
}
.post__edit:hover,
.post__edit:focus{
  color:black;
}


/* post detail */
.post__detail .post__title {
  font-size: 36px;
  line-height: 40px;
}

.post__detail .post__utils-box {
  padding: 10px 0px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  flex-direction: row;
}

.post__detail .post__profile-box{
  padding: 10px 0px;
}

.post__detail .post__text{
  padding:20px 0px;
}

/* profile */

.profile__box {
  display: flex;
  gap: 18px;
  align-items: center;
  font-size: 18px;
  margin: 0 auto;
  max-width: 680px;
  text-align: left;
  line-height: 24px;
  justify-content: space-between;
  padding: 20px;
}

.flex__box-lg {
  display: flex;
  gap: 18px;
  align-items: center;
}

.profile__image {
  width: 72px;
  height: 72px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.profile__name {
  font-size: 16px;
  padding-top: 4px;
}

.profile__email {
  font-weight: 500;
}

.profile__logout {
  color: gray;
  font-size: 14px;
}

.profile__logout:hover,
.profile__logout:focus {
  color: black;
}
