<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- DB연동에 필요한 SqlSessionFactoryBean 클래스에 대해 id가 sqlSession인 bean을 등록 
		# dataSource : context-datasource.xml 파일에 있는 id가 dataSource인 bean을 참조하여 MyBatis와 DB 연동
		# configLoaction : MyBatis 설정이 담겨있는 xml 파일이 위치한 경로를 잡아줌
		# mapperLocations : DB에 보낼 쿼리가 담겨있는 MyBatis의 xml 파일들이 위치한 경로를 잡아줌	-->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/egovframework/sqlmap/example/sql-mapper-config.xml" />
		<property name="mapperLocations" value="classpath:/egovframework/sqlmap/example/mappers/*.xml" />
	</bean>

	<!-- MapperConfigurer 클래스를 bean으로 등록하고 property 태그에는 Mapper 인터페이스 파일들이 위치한 경로를 잡아줌 -->
 	<bean class="egovframework.rte.psl.dataaccess.mapper.MapperConfigurer">
		<property name="basePackage" value="egovframework.example.sample.service.impl" />
	</bean>
    
</beans>